mixin sAreasOfActivity(data)
	// start sAreasOfActivity
	+b.SECTION.sAreasOfActivity.section#sAreasOfActivity&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Сферы деятельности организации
			
			+e.slider--js.swiper
				.swiper-wrapper
					mixin item(i, t, mt)
						+e.slide.swiper-slide
							+e.item.bg-wrap.link-modal-js(href=`#modal-area-${i}`)
								+pic(`sAreasOfActivity-${i}.jpg`, 'bg', 0).picture-bg
								+e.content
									h4!= t
									+e.btn-wrap
										+e.btn-more
											span Подробнее
											+icon('arrow-right')
							div(id=`modal-area-${i}` style="display: none")
								+b.modal-win
									.container
										+b.section-title.text-center
											h2!= t
										+pic(`sAreasOfActivity-lg-${i}.jpg`, 'bg').bg-wrap
										+e.content
											p Компания &laquo;ПМК&raquo; предлагает Вам полный цикл услуг по&nbsp;сносу зданий и&nbsp;демонтажу любых типов объектов. За&nbsp;5&nbsp;лет выполнено 35&nbsp;договорных обязательств по&nbsp;ликвидации, утилизации опасных производственных объектов компании &laquo;РОСНЕФТЬ&raquo; и&nbsp;других предприятий по&nbsp;России.

											p Мы&nbsp;занимаемся разработкой проекта демонтажа и&nbsp;производим снос строений и&nbsp;демонтаж конструкций любой сложности и&nbsp;используем лучшие технологии сноса зданий и&nbsp;технологии демонтажа.
											p ашими постоянными партнерами на&nbsp;данный момент являются несколько крупных заводов в&nbsp;Самарской области.

											p Мы&nbsp;имеем все необходимые допуски и&nbsp;разрешения, а&nbsp;также экологические сертификаты, необходимые для демонтажных работ.

											p Компания &laquo;ПМК&raquo; предлагает свои услуги по&nbsp;демонтажу железобетонных фундаментов всех типов, глубиной от&nbsp;1&nbsp;метра (в&nbsp;том числе демонтаж подземных паркингов и&nbsp;парковок).

											p Утилизация или переработка на&nbsp;месте строительных отходов осуществляется на&nbsp;усмотрение Заказчика и&nbsp;оценивается отдельно. Также после демонтажа фундамента мы&nbsp;можем провести комплекс земляных работ и&nbsp;подготовить котлован под новое строительство.

											p По&nbsp;договоренности с&nbsp;клиентом в&nbsp;процессе работ мы&nbsp;можем полностью или частично сохранить инженерные сети, подведенные к&nbsp;объекту, вывезти или переработать на&nbsp;месте для дальнейшего использования отходы, оставшиеся после демонтажа, а&nbsp;также провести благоустройство территории, подготовив участок к&nbsp;новому строительству. Все эти работы являются дополнительными и&nbsp;оцениваются отдельно.

											p После производства демонтажных работ на&nbsp;строительной площадке образуется большое количество отходов производства, в&nbsp;том числе кирпичной кладки, бетона и&nbsp;железобетона в&nbsp;кусковой форме. В&nbsp;результате их&nbsp;обработки (сортировки) и&nbsp;последующей утилизации путем переработки во&nbsp;вторичный щебень, большая часть, до&nbsp;90% может быть использована вторично. Остальные отходы должны быть размещены (захоронены) на&nbsp;специализированном полигоне, входящем в&nbsp;ГРОРО.

											p Вторичный щебень, полученные путем дробления бетона и&nbsp;кирпича предназначен для применения в&nbsp;качестве заполнителей для бетонов и&nbsp;растворов различного назначения, материалов для оснований автомобильных дорог, устройств обочин, в&nbsp;качестве компонентов готовых смесей, для рекультивации, благоустройства и&nbsp;планировки территорий.

											p Утилизация строительного лома будет осуществлена нашими специалистами с&nbsp;соблюдением всех санитарных и&nbsp;экологических норм.
					+item(1, `Заготовка, переработка и реализация лома черных и цветных металлов`)
					+item(2, `Демонтаж всех видов трубопроводов`)
					+item(3, `Демонтаж промышленных <br> объектов`)
					+item(2, `Демонтаж всех видов трубопроводов`)
					+item(1, `Заготовка, переработка и реализация лома черных и цветных металлов`)
					+item(3, `Демонтаж промышленных <br> объектов`)
				+arrow
			.swiper-pagination
	// end sAreasOfActivity